@using Orders.Models
@model List<Product>
<style>
    table {
        background: gray;
    }

    td {
        border: 1px solid black;
    }
</style>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>

    @foreach (Orders.Models.Product product in Model)
    {
        <tr>
            <td>@product.Id         </td>
            <td>@product.Name       </td>
            <td>@product.Description</td>
            <td>@product.Price      </td>
            <td>
                <span>
                    @Html.ActionLink("Edit", "ViewEditProduct", new
                     {
                         controller = "Product",
                         id = product.Id,
                         name = product.Name,
                         description = product.Description,
                         price = product.Price
                     })
                </span>
                |
                <span>@Html.ActionLink("Delete", "DeleteProduct", new { controller = "Product", id = product.Id })</span>
            </td>
            
    </tr>
    }
</table>