@{
    ViewBag.Title = "Create User";
}
@*id name email orderId*@
@using Orders.Models
@model List<Product>
@using (Html.BeginForm("CreateUser", "User"))
{ 
    <fieldset>
        <legend>Create new user</legend>
        @Html.Label("Name:") <br>
        @Html.TextBox("Name")
        <hr />
        @Html.Label("Email:") <br>
        @Html.TextBox("Email")
        <hr />
        @Html.Label("Product id:") <br>
        <select name="ProductId">
            @foreach (Product product in Model)
            {
                <option value="@product.Id">@product.Id</option>
            }
        </select>
        <hr />
        <input type="submit" value="Create" />
    </fieldset>
    @Html.Action("ProductTable","Product")
}
