@{
    ViewBag.Title = "Edit user";
}
@using Orders.Models
@model Orders.Models.User
@using (Html.BeginForm("EditUser", "User"))
{
    <fieldset>
        <legend>Edit user</legend>
        <input style="display:none" type="text" name="Id" value="@Model.Id" />
        @Html.Label("Name:") <br>
        @Html.TextBox("Name")
        <hr />
        @Html.Label("Email:") <br>
        @Html.TextBox("Email")
        <hr />
        @Html.Label("Product id:") <br>
        <select name="ProductId">
            @{
                Order order = OrderDatabase.GetOrderById(@Model.OrderId);
                Product product = null;
                if (order != null)
                {
                    product = ProductDatabase.GetProductById(order.ProductId);
                }   
                foreach (Product prod in ProductDatabase.productsList)
                {
                    if (product != null)
                    {
                        <option @(product.Id == prod.Id ? "selected" : "") value="@prod.Id">@prod.Id</option>
                    }
                    else
                    {
                        <option value="@prod.Id">@prod.Id</option>
                    }
                }
            }
        </select>
        <hr />
        <input type="submit" value="Edit" />
    </fieldset>
}
@Html.Action("ProductTable","Product")