@using Orders.Models
@model List<Order>

           <style>
               body {
                   background: gray;
               }
               td {
                   border: 1px solid black;
               }
           </style>
<table>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Product</th>
    </tr>
    
    @foreach (Order order in Model)
    { 
        User user = UserDatabase.GetUserById(@order.UserId);
        Product product = ProductDatabase.GetProductById(@order.ProductId);    
        <tr>
            <td>@order.Id</td>
            <td>
                <ul>
                    <li>Name: @user.Name</li>
                    <li>Email: @user.Email</li>
                    <li>ID: @user.OrderId</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>ID: @(product != null ? product.Id.ToString() : "No product")</li>
                    <li>Name: @(product != null ? product.Name : "No name")</li>
                    <li>Price: @(product != null ? product.Price.ToString() : "No price")</li>
                </ul>
            </td>
        </tr>
    }
</table>