@using Orders.Models
@model List<User>
<style>
    body {
        background: gray;
    }

    td {
        border: 1px solid black;
    }
</style>
<p>@Html.ActionLink("Create new user", "CreateUser", new { controller = "User" })</p>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Order</th>
    </tr>

    @foreach (User user in Model)
    {
        Order order = OrderDatabase.GetOrderById(user.OrderId);
        Product product = null;
        if (order != null)
        {
            product = ProductDatabase.GetProductById(order.ProductId);
        }
        <tr>
            <td>@user.Id</td>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>   
                <ul>
                    <li>Order ID: @(order!=null ? order.Id.ToString() : "No order")</li>
                    <li>Product Name: @(product != null ? product.Name : "No product")</li>
                    <li>Product Price: @(product != null ? product.Price.ToString() : "No price")</li>
                </ul>
            </td>
            <td>
                <span>
                    @Html.ActionLink("Edit", "ViewEditUser", new
             {
                 controller = "User",
                 id = user.Id,
                 name = user.Name,
                 email = user.Email,
                 orderId = user.OrderId
             })
            </span>
            |
            <span>@Html.ActionLink("Delete", "DeleteUser", new { controller = "User", id = user.Id })</span>
        </td>

        </tr>
    }
</table>